# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Test runner files
output.js
benchmarks
test.ts

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/pm

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build cache
data.go
target

# Third-party
node_modules

# Go workspace file
go.work

# System Files
.DS_Store
Thumbs.db
.env
